[submodule "tweepy"]
	path = tweepy
	url = https://github.com/tweepy/tweepy.git
[submodule "test_submodule"]
	path = test_submodule
	url = https://jianhuashao@github.com/jianhuashao/test_submodule.git
[submodule "python-oauth2"]
	path = python-oauth2
	url = https://github.com/simplegeo/python-oauth2.git
