<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Dataware Shim</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>
  <body>
    <!--
    <a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">Login</a>
    -->
    <h1>Horizon Dataware Shim Twitter</h1>
    <div>
    {% if user.is_authenticated %}
    Login as {{ user.username }} |
    <a href="{% url django.contrib.auth.views.logout %}?next=/">Logout</a>
    {% endif %} 
    <div>
    {% block content %}{% endblock %}
  </body>
</html>



