{% extends './base.html' %}
{% block content %}
<br><br>
<div id='resource'>
<a href='/catalog/resource/register/request'>register resource on catalog </a>
<table border='1'>
  <tr>
    <th> resource_name </th>
    <th> resource_id </th>
    <th> registration_time</th>
    <th>Owner in Dataware</th>
    <th> access_token </th>
  </tr>
{% for resource in resources %}
  <tr>
    <td> {{ resource.r.name }} </td>
    <td> <a href='/catalog/resource/access/request/{{ resource.r.id }}' >{{ resource.r.registration_id }} </a></td>
    <td> {{ resource.r.save_time }} </td>
    <td> {{ resource.r.user.username }} </td>
    <td> 
      {% for r_aa in resource.r_a %}
      <a href='/catalog/resource/access/test/{{ r_aa.token }}'>{{ r_aa.token }} </a>, 
      {% endfor %} 
    </td>
  </tr>
{% endfor %}
</table>
</div>

<br><br>
<div id='twitter'>
<a href='/oauth/request/'>Add a new twitter account </a>
<table border='1'>
  <tr>
    <th>Twitter Screen Name </th>
    <th>Twitter User ID </th>
    <th>Authenticated time</th>
    <th>Owner in Dataware</th>
  </tr>
{% for profile in profiles %}
  <tr>
    <td> {{ profile.oauth_screen_name }} </td>
    <td> <a href='/shim/{{ profile.oauth_user_id }}' >{{ profile.oauth_user_id }} </a></td>
    <td> {{ profile.modify_time }} </td>
    <td> {{ profile.user.username }} </td>
  </tr>
{% endfor %}
</table>
</div>

<br><br>
<div id='facebook'>
<a href='/oauth/facebook/request'>Add a new facebook account </a>
<table border='1'>
  <tr>
    <th>Facebook Screen Name </th>
    <th>Facebook User ID </th>
    <th>Authenticated time</th>
    <th>Owner in Dataware</th>
  </tr>
{% for oauth in oauths_facebook %}
  <tr>
    <td> {{ oauth.oauth_screen_name }} </td>
    <td> <a href='/shim/facebook/{{ oauth.oauth_user_id }}' >{{ oauth.oauth_user_id }} </a></td>
    <td> {{ oauth.save_time }} </td>
    <td> {{ oauth.user.username }} </td>
  </tr>
{% endfor %}
</table>
</div>

{% endblock %}
